---
import { Image } from 'astro:assets'
import Tesla3d from '../assets/images/logos/3Dtesla-logo.png'
import Cba from '../assets/images/logos/CBA-logo.png'
import AmSpaces from '../assets/images/logos/amSpaces-logo.png'
import Ardunel from '../assets/images/logos/ardunel-logo.png'
import Sawers from '../assets/images/logos/sawers-logo.png'
import Jawars from '../assets/images/logos/jawars-logo.png'
import Tesla from '../assets/images/logos/tesla-logo.png'
---

<section
  class="grid grid-cols-1 gap-x-8 pb-16 md:grid-cols-2 md:gap-x-24 lg:gap-x-20 xl:gap-x-56"
>
  <div class="mb-10 grid md:mb-0">
    <h2 class="text-xl font-bold text-[#0762D9] md:text-2xl lg:text-3xl">
      Organizan :
    </h2>
    <hr
      class="mb-4 mt-3 w-full border border-solid border-[#0762D9] md:mb-1 md:mt-2 lg:mb-4 lg:mt-4"
    />
    <div
      class="grid grid-cols-4 items-center gap-4 md:grid-cols-4 lg:grid-cols-4"
    >
      <Image
        class="h-12 max-w-full object-contain md:h-16 lg:h-20"
        src={Jawars}
        alt="Jawars"
      />
      <Image
        class="h-10 max-w-full object-contain md:h-8 lg:h-16"
        src={Cba}
        alt="CBA"
      />
      <Image
        class="col-span-2 h-12 max-w-full object-contain sm:col-span-2 md:h-14 md:w-96"
        src={AmSpaces}
        alt="American spaces"
      />
    </div>
  </div>
  <div class="mt-2 grid md:mt-0">
    <h2 class="text-xl font-bold text-[#0762D9] md:text-2xl lg:text-3xl">
      Patrocinadores :
    </h2>
    <hr
      class="mb-4 mt-3 w-full border border-solid border-[#0762D9] md:mb-1 md:mt-2 lg:mb-4 lg:mt-4"
    />
    <div
      class="grid grid-cols-5 items-center gap-x-4 md:grid-cols-5 lg:grid-cols-5"
    >
      <Image
        class="h-12 max-w-full object-contain md:h-16 lg:h-20"
        src={Tesla}
        alt="Tesla"
      />
      <Image
        class="h-10 max-w-full object-contain md:h-14 lg:h-16"
        src={Tesla3d}
        alt="Tesla 3D"
      />
      <Image
        class="col-span-2 h-10 w-36 max-w-full object-contain md:col-span-2 md:h-14 md:w-40 lg:col-span-2 lg:h-16 lg:w-80"
        src={Sawers}
        alt="Sawers"
      />
      <Image
        class="h-10 max-w-full object-contain md:h-14 lg:h-20"
        src={Ardunel}
        alt="Ardunel"
      />
    </div>
  </div>
</section>
